<ion-view hide-back-button="true">
    <ion-nav-title>{{vm.title}}</ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="vm.locationSwap.go('home')" class="button button-icon icon ion-home"></button>
    </ion-nav-buttons>
    
    <ion-content  scroll="false">
        <div id="map" data-tap-disabled="true" style="height: 100%">
            <div id="pane"></div>
        </div>
        <div id="footer">
            <div id="colours"><img src="img/memorandum.png"></div>
            <div class="bar bar-footer bar-balanced" style="background-color: black">
                <div id="count" class="title" ng-bind="herherhe" ></div>
            </div></div>
    </ion-content>
</ion-view>